body {
    font-family: Arial, sans-serif;
    background: url("/static/images/house_bg.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(131, 129, 129, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(134, 133, 133, 0.2);
    margin-top: 40%;
}

h1 {
    color: #1a0c37;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input {
    width: 200px;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #323232;
    border-radius: 5px;
    background-color: #979595;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(170, 242, 170);
}
